* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header ul {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    list-style-type: none;
}

.header ul li {
    display: inline-block;
    margin-left: 25px;
}


h1 {
    display: inline-block;
    font-size: 48px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    display: inline-block;
    width: 75%;
}

#search-engine-optimization {
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

#online-reputation-management {
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

#social-media-marketing {
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

.benefits {
    margin-right: 25px;
    padding: 20px;
    clear: both;
    float: right;
    overflow: hidden;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
    margin-bottom: 60px;
    color: #ffffff;
 }

.benefits ul {
    list-style-type: none;
}

.benefitimg {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}